.dropdown-content {
	display: none;
	background-color: pink;
}
/*.dropdown-content p {
	display: block;
}
.dropdown-content p:hover {
	position: absolute;
	display: block;
}
.dropdown:hover .dropdown-content{
	display: block;
}
*/
.showDropdown {
	display: block;
}
.clickBackground {
	background-color: #0020FC;
}
#draggable {height:150px; width:150px; background-color:#CCCCCC}
#col1 {height:50vh; background-color:#666666;}
#col2 {height:50vh; background-color:#7C3B4A;}
#col3 {height:50vh; background-color:#339F76;}
.headStyles {font-weight:700;}